body {
    font-family: sans-serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png);
    margin-right: 3%;
  }
  /* What kind of selector is this? */
  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: rgb(237, 236, 236);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 30px;
    border: solid;
  }

  /* This is an element within and element selector */ 
  nav > a {
    /* margin: 2% 1% 3%; */
    height: 10%;
    width: 15%;
    color: rgb(3, 3, 3);
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
    border: 4px solid #02271d;
    text-decoration: none;
  }

  .has-border {
    border-radius: 25%;
    border: 4px solid #02271d;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    grid-column: 1/3;
    margin-left: 10%;
  }

  h1 {
    color:black;
    grid-column: 1/3;
    margin-left: 20%;
    text-decoration: underline;
    font-family: sans-serif;
  }

  h2 {
    grid-column: 1/3;
    margin-left: 15%;
    font-family: sans-serif;
  }

  .small-text {
    display: flex;
    justify-content: center;
    color: rgb(6, 6, 6);
    font-size: 10px;
    margin: 3% auto;
  }

  /* button:hover {
    color: white;
  } */

  div.button {
    display: flex;
  }
  button#testing {
    justify-content: center;
    align-items: center;
    margin-top: 45%;
    width: 80%;
    height: 30%;
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(173, 192, 173);
    text-align: center;
    color: rgb(0, 0, 0);
    border-color: rgb(80, 98, 81);
  }